@use "../common/themes" as t;

$themes: (
    light: (
        primary: #333,
        secondary: #a09f9f,
        background: #fff,
        text: #000
    ),

    dark: (
        primary: #fff,
        secondary: #ccc,
        background: #000,
        text: #fff
    )
);

.chip {
    margin: 15px;
    padding: 6px 18px;
    border: 1px solid black;
    border-radius: 9999px;

    @include t.themify($themes) {
        border: 1px solid #{t.themed("primary")};
        background: #{t.themed("background")};
        color: #{t.themed("text")};

        &:hover {
            background: t.themed("secondary");
        }
    }
}
