@use "../common/themes" as t;

$themes: (
    light: (
        primary: #333,
        secondary: #a09f9f,
        background: #fff,
        text: #000
    ),

    dark: (
        primary: #fff,
        secondary: #ccc,
        background: #000,
        text: #fff
    )
);

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @include t.themify($themes) {
        background-color: #{t.themed("background")};
        color: #{t.themed("text")};
        border: 1px solid #{t.themed("primary")};

        &:hover {
            background-color: t.themed("secondary");
        }
    }
}
